.c-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.2rem;

  &__title {
    color: var(--primary-color);
  }

  &__actions {
    display: flex;
    align-items: center;
    column-gap: 1.6rem;
  }
}
