.p-supplier-details {
  margin: 5rem;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.2rem;
    color: var(--purple-500);
  }

  &__actions {
    display: flex;
    align-items: center;
    column-gap: 1.6rem;
  }

  form {
    fieldset {
      border: none;
      margin-bottom: 2.4rem;

      legend {
        margin-bottom: 2.4rem;
        color: var(--purple-500);
        font-weight: 500;
        font-size: 2.4rem;
      }
    }
  }
}

.c-input-container {
  &__row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2.4rem;
  }

  &__col-7 {
    width: 100%;
    grid-column: span 7;
  }

  &__col-5 {
    width: 100%;
    grid-column: span 5;
  }

  &__col-4 {
    width: 100%;
    grid-column: span 4;
  }

  &__col-3 {
    width: 100%;
    grid-column: span 3;
  }

  &__col-2 {
    width: 100%;
    grid-column: span 2;
  }
}
