.p-suppliers {
  &__header {
    margin-bottom: 3.2rem;
    color: var(--purple-500);
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    tr,
    td,
    th {
      border: 2px solid var(--purple-500);
      padding: 1rem 1.4rem;
      text-align: left;
      white-space: nowrap;
      vertical-align: middle;

      &:last-of-type {
        text-align: center;
      }
    }

    thead th {
      background-color: var(--purple-500);
      color: var(--purple-100);
    }

    tr {
      color: var(--gray-900);

      &:nth-child(even) {
        background-color: var(--white);
      }

      &:nth-child(odd) {
        background-color: var(--purple-100);
      }
    }
  }
}
