.p-suppliers {
  &__table {
    width: 100%;
    border-collapse: collapse;

    tr,
    td,
    th {
      border: 2px solid var(--primary-color);
      padding: 1rem 1.4rem;
      text-align: left;
      white-space: nowrap;
      vertical-align: middle;

      &:last-of-type {
        text-align: center;
      }
    }

    thead th {
      background-color: var(--primary-color);
      color: var(--white);
    }

    tr {
      color: var(--text-color);

      &:nth-child(even) {
        background-color: var(--background);
      }

      &:nth-child(odd) {
        background-color: var(--secondary-color);
      }
    }

    &--button-edit {
      padding: 0.5rem 1.4rem;
      border-radius: 4px;
      border: none;
      transition: filter 0.2ms;
      background-color: var(--primary-color);
      color: var(--white);
      text-decoration: none;
    }
  }
}
